{% extends "layout.html" %}

{% block title %} TawaTaxi Cuba ~ Agencia de Taxis{% endblock %}

{% block content %}
<!-- Seccion Hero -->
<div class="hero jumbotron container my-5">
  <div class="p-2 text-center bg-body-tertiary rounded-3">
    <img src="../static/imgs/logo.png" width="440" height="250" alt="Logo TTC">
    <h1 class="text-body-emphasis">De Pinar a Maisí!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Con nosotros podrás hacer tus viajes de ensueño, elige con libertad tu destino.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a href="{% url 'about' %}">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Circuitos
        </button>
      </a>
      <a href="#">
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
          Automóviles
        </button>
      </a>
    </div>
  </div>
</div>

  <!-- Cards Groups from https://getbootstrap.com/docs/5.3/components/card/#card-groups -->
  {% include "circuitos/older_cardgroup.html" %}

  <!-- Nuevos cards group pero con footer & espaciado entre cada card https://getbootstrap.com/docs/5.3/components/card/#grid-cards -->
  {% include "circuitos/new_cardsgroup.html" %}
  
  {% endblock %}
