<html>

<body>
  <h1>
    Nuestra primera plantilla
  </h1>
  <p>el nombre del autor de esta web es: {{nombre_persona}} {{apellido_persona}}</p>
  <p>estoy actualmente trabajando en esta plantilla pasando el contexto como variable el: {{tiempo.day}} /
    {{tiempo.month}} / {{tiempo.year}}</p>
  <p><strong>Temas del curso:</strong></p>
  <p>
  <ul>
    {% if temas %}
      {% for elTema in temas %}
      <li>{{elTema}}</li>
      {% endfor %}

    {% else %}  
      <p>No hay elementos que mostrar</p>
    {% endif %}
  </ul>
  </p>
</body>

</html>