/* From Uiverse.io by ke1221 */ 
.boton-detalles {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.boton-detalles:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/* Estilo del botón de WhatsApp */
.btn-whatsapp {
    background-color: #25D366; /* Verde de WhatsApp */
    color: white;
    border-color: #25D366;
}

.btn-whatsapp:hover {
    background-color: #1EBE5A;
    border-color: #1EBE5A;
}

/* Estilo del botón de Instagram */
.btn-instagram {
    background-color: #E1306C; /* Rosa de Instagram */
    color: white;
    border-color: #E1306C;
}

.btn-instagram:hover {
    background-color: #C1275A;
    border-color: #C1275A;
}
