/* Barra de Navegacion */

.navbar {
  padding: 1rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-link {
  color: antiquewhite;
}

.nav-link:hover {
  color: #24f137;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Generales */

body,
.navbar {
  background: #DCE35B;
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.seccion-verde {
  background-color: rgb(224, 248, 9);
  color: black;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Source Code Pro', monospace;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

/* Seccion Hero */

.hero {
  min-height: 450px;
  text-align: center;
}

/* Seccion Circuitos */
.boton-detalles {
  --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030, -13px -13px 10px #29d972;
  --accent: greenyellow;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1em 2em;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 1.1em;
  max-width: 300px;
  transition: box-shadow ease-in-out 0.3s,
      background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s,
      transform ease-in-out 0.1s, color 0.1s ease-in-out;
    box-shadow: 13px 13px 10px #1c1c1c,
      -13px -13px 10px #262626, -13px -13px 10px #29d972;
}

/*  Seccion Carucel */
.custom-carousel-img {
  height: 400px;  /* Ajusta este valor según el alto que prefieras */
  width: 100%;
  object-fit: cover;  /* Ajusta la imagen para llenar el contenedor */
}

.carousel-container {
  max-width: 800px;  /* Ajusta el ancho según lo que necesites */
  margin: auto;      /* Centra el contenedor */
}

/*About*/
.content-wrapper {
  min-height: calc(100vh - 200px); /* Ajusta el valor de 200px según la altura del header y footer */
}


/* Footer*/
footer {
  padding-top: 0.2rem;       /* Reducir padding superior */
  padding-bottom: 0.2rem;    /* Reducir padding inferior */
  margin-top: 5;             /* Sin margen superior */
  margin-bottom: 0;          /* Sin margen inferior */
}

footer p {
  margin: 0;                 /* Sin margen en el texto de copyright */
  font-size: 0.75rem;        /* Tamaño de fuente más pequeño */
}

footer a {
  font-size: 0.75rem;        /* Tamaño de fuente más pequeño en los enlaces */
}

footer .nav-item {
  margin: 0;                 /* Sin margen en cada elemento de navegación */
}

footer img {
  display: block;
  margin: 0 auto;            /* Centrar el logo */
  padding: 0;                /* Sin padding */
}
footer .nav-link {
  padding: 0.2rem 0.5rem;    /* Reducir el padding horizontal y vertical de los enlaces */
}


