/* Barra de Navegacion */

.navbar {
  padding: 1rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.nav-link {
  color: antiquewhite;
}

.nav-link:hover {
  color: #24f137;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Generales */

body, .navbar{
  background: #DCE35B;
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.seccion-verde {
  background-color: rgb(224, 248, 9);
  color: black;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Source Code Pro', monospace;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

/* Seccion Hero */

.hero {
  min-height: 450px;
  text-align: center;
}

/* Seccion Circuitos */
.boton-detalles {
  padding: 7px;
  margin: 8px;
  color: white;
  background-color: black;
  border-color: gray;
  display: flex;
  justify-items: center;
  max-width: 300px;
}

.boton-detalles:hover {
  color: black;
  background-color: greenyellow;
  border-color: black;
}

.button1  {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

button span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  -webkit-box-shadow: 0 0.4em 0.1em 0.019em #fff;
          box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

button span:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(0, 0.4em);
      -ms-transform: translate(0, 0.4em);
          transform: translate(0, 0.4em);
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
  -webkit-transition: all 1s;
  transition: all 1s;
}

