{% extends "layout.html" %}

{% block content %}
<h1 class="h1">About</h1>

<div class="container">
  <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Sobre Nosotros</div>
    <div class="card-body">
      <p class="card-text">Somos una agencia de viajes cubana, nuestros conductores cuentan con más de 15 años de
        experiencia,
        tenemos como objetivo brindarles una inolvidable visita a Cuba
        , con una gran infinidad de destinos turisticos;
        nos destaca la puntualidad, comodidad , seguridad y buena musica (a mal tiempo buena música).</p>
    </div>
  </div>
</div>

<div class="p-3 mb-2 bg-transparent text-body bg-gradient">
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>Esta agencia está limitada: no puede volar, ni nadar 😆;
        podemos llevarte desde el cabo de San Antonio, hasta la punta de Maisí.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      una frase distintiva <cite title="Source Title">Tawa Taxis.</cite>
    </figcaption>
  </figure>
</div>
{% endblock %}