{% block content %}

<div class="container">
    <div class="card-group">
        <div class="card">
            <img src="../static/imgs/valle.jpg" class="card-img-top" alt="Circuito de Viñales">
            <div class="card-body">
                <h5 class="card-title">Viñales</h5>
                <p class="card-text">El valle de Viñales es un valle en la provincia de Pinar del Río,
                    en el sector occidental de Cuba. Se encuentra en la Sierra de los Órganos, en la parte
                    más occidental de la Cordillera de Guaniguanico.</p>
                <p class="card-text"><small class="text-body-secondary">Last update: {{dame_fecha}}</small></p>

                <!-- <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a> -->
            </div>
        </div>
        <div class="card">
            <img src="https://media.traveler.es/photos/61377896030de94d067fdadc/16:9/w_2560%2Cc_limit/205920.jpg"
                class="card-img-top" alt="Circuito de La Habana">
            <div class="card-body">
                <h5 class="card-title">Mi Habana</h5>
                <p class="card-text">La Habana es la capital de Cuba. La arquitectura colonial española en
                    el centro de la Habana Vieja del siglo XVI incluye el Castillo de la Fuerza Real, un fuerte
                    y un museo marítimo. El edificio del Capitolio Nacional es un monumento icónico de la década
                    de 1920. En la Habana Vieja también se encuentra la catedral barroca de San Cristóbal y la
                    Plaza Vieja, cuyos edificios reflejan la dinámica mezcla arquitectónica de la ciudad.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a>
            </div>
        </div>
        <div class="card">
            <img src="../static/imgs/varadero.jpg" class="card-img-top" alt="Varadero">
            <div class="card-body">
                <h5 class="card-title">Varadero Beach</h5>
                <p class="card-text">Varadero, que abarca la estrecha península de Hicacos en Cuba, es una
                    ciudad balneario popular. A lo largo de la costa de 20 km en el Atlántico, hay una hilera
                    de hoteles y complejos de spa con todo incluido y un campo de golf. Cerca del extremo este
                    de la península está la Reserva Ecológica Varahicacos, una reserva con senderos y una antigua
                    cueva fúnebre. El Parque Josone cuenta con un estanque y jardines.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 4 mins ago</small></p>
                <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}