{% block content %}

<div class="container">
    <div class="card-group">
        <!-- VIÑALES -->
        <div class="card">
            <img src="../static/imgs/valle.jpg" class="card-img-top" height="250" width="350" alt="Circuito de Viñales">
            <div class="card-body">
                <h5 class="card-title">Viñales</h5>
                <p class="card-text">El valle de Viñales es un valle en la provincia de Pinar del Río,
                    en el sector occidental de Cuba. Se encuentra en la Sierra de los Órganos, en la parte
                    más occidental de la Cordillera de Guaniguanico.</p>
                <p class="card-text"><small class="text-body-secondary">Último cambio: {{dame_fecha}}</small></p>

                <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a>
            </div>
        </div>
        <!-- HABANA -->
        <div class="card">
            <img src="https://media.traveler.es/photos/61377896030de94d067fdadc/16:9/w_2560%2Cc_limit/205920.jpg"
                class="card-img-top" height="250" width="350" alt="Circuito de La Habana">
            <div class="card-body">
                <h5 class="card-title">La Habana</h5>
                <p class="card-text">La Habana es la capital de Cuba, su urbe más grande, el principal puerto, 
                    su centro económico-cultural y su principal polo turístico.</p>
                <p class="card-text"><small class="text-body-secondary">Último cambio: {{dame_fecha}}</small></p>
                <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a>
            </div>
        </div>
        <!-- VARAERO -->
        <div class="card">
            <img src="../static/imgs/varadero.jpg" height="250" width="350" class="card-img-top" alt="Varadero">
            <div class="card-body">
                <h5 class="card-title">Varadero</h5>
                <p class="card-text">Varadero, que abarca la estrecha península de Hicacos en Cuba, es una
                    ciudad balneario popular. A lo largo de la costa de 20 km en el Atlántico, hay una hilera
                    de hoteles y complejos de spa con todo incluido y un campo de golf. Cerca del extremo este
                    de la península está la Reserva Ecológica Varahicacos, una reserva con senderos y una antigua
                    cueva fúnebre.</p>
                <p class="card-text"><small class="text-body-secondary">Último cambio: {{dame_fecha}}</small></p>
                <a href="#" class="boton-detalles btn btn-primary">Más Detalles</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}